{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"trailingComma": "none",
    "bracketSameLine": false,
    "semi": false,
    "printWidth": 80
}
